<button class="btn-unfollowing" (click)="removeFollowing()" *ngIf="!isUnfollowed">
    <span class="show" >following</span>
    <span class="hide">non seguire più</span>
</button>
<button class="btn-follow" (click)="toggleFollowing()" *ngIf="isUnfollowed">segui</button>
