.btn-unfollowing {
  width: 180px;
  height: 32px;
  border-radius: 50px;
  background-color: #1a1a1a;
  color: #1dd760;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 2px;
  outline: none;
}

.hide {
  visibility: hidden;
  display: none;
}

.btn-unfollowing:hover {
  transform: scale(1.07);
  border: 2px solid #fff;
}

.btn-unfollowing:hover .show {
  visibility: hidden;
  display: none;
}

.btn-unfollowing:hover .hide {
  visibility: visible;
  display: inline;
}

.btn-follow {
  width: 180px;
  height: 32px;
  border-radius: 50px;
  background-color: #1a1a1a;
  color: #fff;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 2px;
  outline: none;
}

.btn-follow:hover {
  transform: scale(1.07);
  border: 2px solid #fff;
}
