.search {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

i {
    padding-top: 5px;
}

input{
    background: #232323;
    border: none;
    height: 30px;
    outline: none;
    color: white;
    width: 100%;
    margin-left: 10px;
    /* margin-bottom: 55px;
    margin-top: 20px; */
}
