.page{
  background: linear-gradient(-15deg, hsla(0,0%,100%,.3), 5%, black) ;
  overflow-y:auto;
}

/* .cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(55px, 80px));
  overflow: hidden;
  width: 80%;
  margin: 0 auto;
}

.card {
  height: 50px;
  width: 100%;
  margin: 10px;
  background-color: crimson;
} 

.prova{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 250px));
  grid-template-rows: repeat(1, minmax(200px, 250px));
}
*/

