.search {
  position: relative;
}

.search input {
  width: 170px;
  height: 21px;
  background-color: #fcfcfc;
  border-radius: 20px;
  outline: none;
  font-size: 13px;
  border-style: none;
  margin-top: 2px;
}

.search input { text-indent: 25px;}
.search img {
  position: absolute;
  top: 7px;
  left: 8px;
  width: 13px;
  height: auto;
}

::placeholder {
  color: black;
  opacity: 1;
  font-size: 13px;
}
