<p class="title">Album</p>

<div class="filter">
  <app-page-search-bar [currentPage]="currentPage" [keySubject]="keySubject"></app-page-search-bar>
  <div class="order">
    <span id="p">Ordinati per</span>
    <span>
      <select [(ngModel)]="selectedFilter" (change)="changeSortFilter(selectedFilter)">
        <option *ngFor="let filter of sortFilters" [value]="filter">{{filter}}</option>
      </select>
    </span>
  </div>
</div>

<div class="card-container">
  <app-card *ngFor="let album of albums | search : searchProperty : searchText" [title]="album?.album?.name"
    [artist]="album?.album?.artists[0]?.name" [backgroundImage]="getBackgroundImage(album?.album?.images)"></app-card>
</div>

<!-- <div class="cards" *ngFor="let album of albums">
  <ul>
    <li>Immagine</li>
    <li>{{album?.album?.name}}</li>
    <li>{{album?.album?.artists[0]?.name}}</li>
  </ul>
</div> -->