*{
    box-sizing: border-box;
}

.title {
    font-weight: 900;
    margin: 5.625rem 1.5625rem 0.625rem 1.5625rem;
    font-size: 3.125rem;
    color: white;
}

.filter{
    margin: 1.25rem 1.5625rem;
    color: white;
    border-top: thin solid gray;
    padding: 10px 0;
    margin: 1.25rem 1.5625rem;
    color: white;
    border-bottom: thin solid gray;
    padding-top: 10px;
}

#p{
    margin-right: 10px;
    font-weight: 700;
}

select {
    background: #232323;
    height: 30px;
    outline: none;
    color: white;
    border: none;
    font-weight: 500;
}

.cards{
    margin: 1.5625rem 1.5625rem 0.625rem 1.5625rem;
    color: white;
    display: flex;
    
}

li{
    list-style: none;
    flex-direction: row;
    
}

.card-container{
    /* border: 2px solid green; */
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around; */
    /* padding-left: 40px; */
    margin: 1.875rem 1.5625rem 0.625rem 1.5625rem;
}