 :host {
  flex-basis: 1 0 100%;
  min-height: 250px;
  padding: 5px 10px 5px 0;
  color: whitesmoke;
  /* border: 2px dotted red; */
  width: 25%;
}

.description{
  font-size: 14px;
  color: #b3b3b3;
}

  .card-img{
  /* width:200px;  */
  /* height: 250px; */
  /* background-image: url("https://i.scdn.co/image/ab67706f00000002c45aec74e57bdcee147cee04"); */
  /* background-size: cover; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 2px dashed blue; */
}

.cover{
  width: 250px;
height:  250px;
}
 .card-img .card-banner{
  width:100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 2px solid green; */
}
  .card-img:hover .card-banner{
  background: rgba(0, 0, 0, .6);
}
 .card-description{
  text-align: left;
  font-size: 14px;
  padding:8px;
}
 .card-title{
  text-align: left;
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 4px;
  cursor: pointer;
}
  .card-description .followers{
  text-transform: uppercase;
  text-align: right;
  margin-top: 4px;
}
