<!-- <div class="card"> -->
  <div class="card-img">
    <img class="cover" [src]="backgroundImage">
    <!-- <div class="card-banner">
      <p>player</p>
    </div> -->
    <!-- TODO: -->
  </div>
  <div class="card-description">
    <p class="card-title" (click)="titleClick()">{{title}}</p>
    <p class="description">{{artist}}</p>
    <!-- <p class="followers"><small>{{'followers: ' + followers}}</small></p> -->
  </div>
<!-- </div> -->
