*{
    box-sizing: border-box;
}

.title {
    font-weight: 900;
    margin: 5.625rem  1.5625rem 0.625rem 1.5625rem;
    font-size: 3.125rem;
    color: white;
}

button{
    outline: none;
    background: #84a83b;
    border: none;
    border-radius: 1.25rem;
    width: 140px;
    height: 2.1875rem;
    margin: 1.25rem 1.5625rem;
    position: static;
}

button:hover{
    background: #99c445;
    transform: scale(1.05);
}

#play{
    color: white;
    font-weight: 600;
    position: relative;
}

.filter{
    margin: 1.25rem 1.5625rem;
    color: white;
}

input{
    background: #232323;
    border: none;
    height: 30px;
    outline: none;
    color: white;
    width: 360px;
    margin-left: 10px;
}

.container{
    /* border-top: 0.0625rem solid white;  */
    margin: 1.25rem 1.5625rem;
}

ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: stretch;
}

li {
    list-style: none;
    cursor: default;
    width: calc(100%/8);
    align-items: stretch;
    font-size: 14px;
    /* margin-top: 0.3125rem; */
    /* border: 1px solid green; */
}

.listHead{
    color: gray;
    font-variant-caps: all-small-caps;
}

.listHead li{
   padding: 0.3125rem 0;
}

.listHead li:hover{
    color: white;
 }

.listLoop{
    color: white;
}

.listLoop ul:hover{
    background: rgb(29, 28, 28);
    
}

.listLoop ul{
    border-top: thin solid gray;
    vertical-align: middle;
}

.listLoop p:hover{
    text-decoration: underline;
    cursor: pointer;
    display: inline;
}

/* play */
.listLoop li:first-child{
    width: 5%;
    text-align: center;
    font-size: 1.375rem;
    padding-top: 0.3125rem;
    
}

/* cuore */
.listLoop li:nth-child(2){
    width: 5%;
    text-align: center;
    font-size: 1.125rem;
    padding-top: 0.4375rem;
}

/* titolo brano */
.listLoop li:nth-child(3){
    width: 25.5%;
    padding-top: 0.5625rem;
    font-weight: 550;
}

/* artista */
.listLoop li:nth-child(4){
    width: 21.5%;
    padding-top: 0.5625rem;
    font-weight: 550;
}

/* titolo album */
.listLoop li:nth-child(5){
    width: 24%;
    padding-top: 0.5625rem;
    font-weight: 600;
}

/* data aggiunta */
.listLoop li:nth-child(6){
    width: 11%;
    padding-top: 0.5625rem;
    color: gray;
    overflow-wrap: break-word;
    text-align: center;
}

/* puntini */
.listLoop li:nth-child(7){
    width: 4%;
    text-align: center;
    font-size: 1.375rem;
    padding-top: 0.4375rem;
}

/* durata brano */
.listLoop li:last-child{
    width: 4%;
    padding-top: 0.5625rem;
    padding-right: 10px;
    color: gray;
    overflow-wrap: break-word;
    text-align: right;
}

/* play */
.listHead li:first-child{
    width: 5%;
}

/* cuore */
.listHead li:nth-child(2){
    width: 5%;
}

/* titolo brano */
.listHead li:nth-child(3){
    width: 25.5%;
}

/* artista */
.listHead li:nth-child(4){
    width: 21.5%;
}

/* titolo album */
.listHead li:nth-child(5){
    width: 24%;
}

/* data aggiunta */
.listHead li:nth-child(6){
    width: 11%;
    padding-left: 20px;
}

/* puntini */
.listHead li:nth-child(7){
    width: 4%;
}

.listHead li:last-child{
    width: 4%;
}

.listHead li:last-child:hover{
    color: gray;
}