<p class="title">Brani Preferiti</p>

<div>
  <button>
    <p id="play">PLAY</p>
  </button>
</div>

<div class="filter">
  <app-page-search-bar [currentPage]="currentPage" [keySubject]="keySubject"></app-page-search-bar>
</div>

<app-track-list [isFavouriteSongs]="true" [tracksList]="songs" [searchText]="searchText" [searchProperty]="searchProperty"></app-track-list>

<!-- <div class="container">
  <div class="listHead">
    <ul>
      <li></li>
      <li></li>
      <li>Titolo</li>
      <li>Artista</li>
      <li>Album</li>
      <li><i class="far fa-calendar-check"></i></li>
      <li></li>
      <li><i class="far fa-clock"></i></li>
    </ul>
  </div>

  <div class="listLoop" *ngFor="let song of songs | search : searchProperty : searchText">
    <ul>
      <li><i class="far fa-play-circle"></i></li>
      <li><i class="fas fa-heart"></i></li>
      <li>{{song?.track?.name}}</li>
      <li>
        <p>{{song?.track?.artists[0]?.name}}</p>
      </li>
      <li>
        <p>{{song?.track?.album?.name}}</p>
      </li>
      <li>{{song?.added_at | date:'yyyy-MM-dd'}}</li>
      <li><i class="fas fa-ellipsis-h"></i></li>
      <li>{{song?.track?.duration_ms | date:'m:ss'}}</li>
    </ul>
  </div>

  <div class="listLoop">
    <ul>
      <li><i class="far fa-play-circle"></i></li>
      <li><i class="far fa-heart"></i></li>
      <li>Loop brani</li>
      <li>
        <p>Loop artista</p>
      </li>
      <li>
        <p>Loop album</p>
      </li>
      <li>21/10/2019</li>
      <li><i class="fas fa-ellipsis-h"></i></li>
      <li>15:58</li>
    </ul>
  </div>
</div> -->