<div class="aside content">
  <!-- brano in esecuzione -->
</div>

<div class="player">
  <div class="controls">
    <div class="control">
      <span class="sronly">shuffle</span>
      <i class="fas fa-random"></i>
    </div>
    <div class="control">
      <span class="sronly">back</span>
      <i class="fas fa-step-backward"></i>
    </div>
    <div class="control">
      <div class="control-primary" (click)="onToggle()">
        <span class="sronly">play</span> <i *ngIf="started" class="fas fa-play"></i>
        <span class="sronly">pause</span> <i *ngIf="!started" class="fas fa-pause"></i>
      </div>
    </div>
    <div class="control">
      <span class="sronly">forward</span>
      <i class="fas fa-step-forward"></i>
    </div>
    <div class="control">
      <span class="sronly">repeat</span>
      <i class="fas fa-sync-alt"></i>
    </div>

  </div>

  <div class="progress-bar">
    <label>0:00</label>
    <div class="progress-display">
      <span class="progress-state"></span>
      <span class="progress-point"></span>
    </div>
    <label>0:00</label>
  </div>
</div>

<div class="aside options">

  <div class="volume">
    <div class="control">
      <i *ngIf="false" class="fas fa-volume-mute"></i>
      <i *ngIf="true" class="fas fa-volume-off"></i>
      <i *ngIf="false" class="fas fa-volume-down"></i>
      <i *ngIf="false" class="fas fa-volume-up"></i>
    </div>

    <div class="volume-display">
      <span class="volume-state">
        <span class="volume-point"></span>
      </span>
    </div>
  </div>


</div>
