:host {
  grid-column-start: 1;
  grid-column-end: 3;
  padding-top: 10px;
  background: #282828;
  text-align: center;
  color: white;
  display: flex;
  justify-content: space-between;
}

.player {
  flex: 3 0 300px;
  /*  background: red; */
}

.player .controls {
  margin: 5px auto 12px auto;
  width: 320px;
  display: flex;
  justify-content: center;
  /*  color of controls ---------------------*/
  color: rgba(180, 180, 180, .8);
}

.player .controls .control {
  /* margin: 0 12px; */
  cursor: pointer;
  width: 50px;
  height:50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player .controls .control:hover {
  color: whitesmoke
}

.player .controls .control-primary {
  padding: .7em;
  border: 1px solid whitesmoke;
  border-radius: 50%;
}

.player .controls .control-primary:hover {
  border: 2px solid whitesmoke;
  font-size: 20px;
}

.player .controls .sronly {
  visibility: hidden;
  display: none;
}

.player .progress-bar {
  width: 100%;
}

.player .progress-bar .progress-display {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px;
  width: 72%;
  height: 3px;
  background: grey;
  cursor: pointer;
  border-radius: 2px;
}

.player .progress-bar .progress-time {
  display: inline-block;
  vertical-align: middle;
}

.player .progress-bar .progress-display .progress-state {
  position: absolute;
  top: 0;
  left: 0;
  vertical-align: middle;
  height: 100%;
  width: 50%;
  /* PARAMETRO DA INSERIRE DINAMICAMENTE */
  background: whitesmoke;
}

.player .progress-bar .progress-display .progress-point {
  position: absolute;
  top: -5px;
  left: 50%;
  /* PARAMETRO DA INSERIRE DINAMICAMENTE */
  vertical-align: middle;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: whitesmoke;
  display: inline-block;
  visibility: hidden;
}

.player .progress-bar:hover .progress-display .progress-point {
  visibility: visible;
}

.player .progress-bar:hover .progress-display .progress-state {
  background: #1db954;
}

.aside {
  flex: 1 0 200px;
  /* background: lightsteelblue; */
}

.volume {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
  margin-right: 16px
}

.volume .control {
  margin-right: 8px;
  font-size: 18px;
  color: rgba(180, 180, 180, .8);
  cursor: pointer;
}

.volume .volume-display {
  flex-basis: 100px;
  height: 3px;
  background: grey;
  border-radius: 2px;
}

.volume .volume-display .volume-state {
  position: relative;
  display: block;
  height: 100%;
  width: 30px;
  background: whitesmoke;
}

.volume .volume-display .volume-state .volume-point {
  position: absolute;
  right: calc(0% - 6px);
  top: -5px;
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: whitesmoke;
  visibility: hidden;
}

.volume .control:hover {
  color: whitesmoke;
} 
.volume .volume-display:hover {
  cursor: pointer;
}

.volume .volume-display:hover .volume-state {
  background: #1db954;
}

.volume .volume-display:hover .volume-state .volume-point {
  visibility: visible;
}

/* .player .options{} */
