:host {
  background: transparent;
  width: calc(100% - 266px);
  padding: 9px;
  position: fixed;
  top: 0;
  display: flex;
  z-index: 10;
}

:host > :nth-child(3) {
    margin-left: auto;
    align-self: center;
  }

