.section {
  height: 125px;
  width: 100%;
  background: #1a1a1a;
}

.container {
  margin-left: 30px;
  margin-right: 20px;
  background: #1a1a1a;
  height: 100%;
  border-bottom: 1px solid #272727;
  display: flex;
}

.container > :nth-child(3) {
  margin-left: auto;
  align-self: center;
}

.pl-10 {
  padding-left: 10px;
}

.artist {
  border-radius: 50%;
  height: 105px;
  width: auto;
  margin-top: 10px;
}

.artist-name {
  color: #fff;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 20px;
}

.follower {
  color: #a8a8a8;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-top: 25px;
}
