<div class="section">
  <div class="container" *ngFor="let artist of followingArtists">
      <img [src]="getArtistImage(artist?.images)" class="artist" alt="" />
      <div class="pl-10">
        <p class="artist-name">{{artist?.name}}</p>
        <p class="follower">{{artist?.followers?.total | number }} follower</p>
      </div>
      <app-follow-unfollow
        [isUnfollowed]="artist?.isUnfollowed"
        (onToggleFollowing)="toggleFollowing(artist)"
        (onRemoveFollowing)="removeFollowing(artist)">
      </app-follow-unfollow>
  </div>
</div>
