:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

  margin: auto;
  text-align: center;
  outline: dashed beige thin;
  background: white;
  width: 25%;
  padding: 1rem 4rem;
  margin-top: 10%;
}

.img-container {
  margin: 3rem 0;
}

.img-container img {
  min-width: 70px;
  width: 70%;
  object-fit: contain;
}

.img-container:hover {
  cursor: pointer;
  object-fit: contain;
}

span {
  font-size: x-large;
  font-weight: bold;
  flex: 1 auto;
}

label:hover {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}
