<div id="box" #box class="box" (scroll)="scrollShow()">
  <div class="bg-gradient">
  <div class="user-container" id="container">
    <img [src]="avatar" id="avatar" class="avatar" alt="" />
    <div class="pl-20">
      <p class="user-title" id="user">utente</p>
      <p class="user" id="username">{{ username }}</p>
    </div>
  </div>
  <div class="follow">
      <div class="mr-30" (click)="setActiveTab(1)" [ngClass]="{'white': active == 1, 'gray': active == 2}">
        <a>playlist pubbliche</a>
        <div class="green-line" *ngIf="active == 1"></div>
    </div>
    <div (click)="setActiveTab(2)" [ngClass]="{'white': active == 2, 'gray': active == 1}">
      <a>following ({{followingArtists.length}})</a>
      <div class="green-line" *ngIf="active == 2"></div>
    </div>
  </div>

  <div>
      <app-public-playlist *ngIf="active == 1"
      (onTitleClick)="titleClick($event)"
      [userPlaylists]="userPlaylists"></app-public-playlist>
      <app-following
        (onRemoveFollowing)="removeFollowing($event)"
        (onToggleFollowing)="toggleFollowing($event)"
        [followingArtists]="followingArtists"
        *ngIf="active == 2">
      </app-following>
  </div>

</div>
</div>
