.box {
  height: 100%;
  overflow-y: scroll;
  background-color: #1a1a1a;
}

.bg-gradient {
  background-image: linear-gradient(to bottom, #383838, #0a0a0a);
  width: 100%;

}
.user-container {
  display: flex;
  padding-top: 65px;
  padding-left: 35px;
}

.user-container-small {
  display: flex;
  padding-top: 55px;
  padding-left: 35px;
  position: fixed;
  background: #000;
  width: calc(100% - 266px);
}

.avatar {
  border-radius: 50%;
  height: 120px;
  width: auto;
}

.avatar-small {
  border-radius: 50%;
  height: 37px;
  width: auto;
}

.pl-10 {
  padding-left: 10px;
}

.pl-20 {
  padding-left: 20px;
}

.mr-30 {
  margin-right: 30px;
}

.user-title {
  color: #fff;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding-top: 10px;
}

.user-title-small {
  display: none;
}

.user {
  font-size: 45px;
  color: #fff;
  font-weight: bold;
  padding-top: 4px;
}

.user-small {
  font-size: 28px;
  color: #fff;
  font-weight: bold;
  padding-top: 4px;
}

.follow {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 11px;
  letter-spacing: 2px;
  padding: 40px 0 0 35px;
  display: flex;
  cursor: pointer;
}
.follow :hover {
  color: #fff;
}
.white {
  color: white;
}
.gray {
  color: #a8a8a8;
}

.green-line {
  border-bottom: 2px solid;
  border-bottom-color: #1dd760;
  width: 30px;
  margin: 9px auto;
}








