/* CONTENITORE */
.container{
  width: 90%;
  margin: 0 auto;
  font-family: spotify-circular,spotify-circular-cyrillic,spotify-circular-arabic,spotify-circular-hebrew,Helvetica Neue,Helvetica,Arial,Hiragino Kaku Gothic Pro,Meiryo,MS Gothic,sans-serif;
}
/* HEADER DELLE CARD */
.container header{
  display:flex;
  justify-content: space-between;
  border-bottom: 1px solid lightgrey;
  padding: .6em 0;
  margin: .8em 0;
}
.container header .header{
  flex-basis: 400px;
}
.container header .name{
  font-size: 36px;
  color: whitesmoke;
}
.container .description{
  font-size: 14px;
  color: #b3b3b3;
}
/* CONTROLLI DELLE CARDS */
.container .controls{
  display:flex;
  align-items: flex-end;
  margin-bottom: 4px;
}

.container .controls .control { 
  margin: 0 4px;
  color: #C9BCBC;
  font-size:28px;
  cursor: pointer;
}
.container .controls .control:hover {
  color:whitesmoke;
}

/* LE CARDS */
.container .cards-view{
  width:100%;
  height: 300px;
  overflow: hidden;
}

.container .cards {
  height: auto;
  display: flex;
  align-items: center;
  width: calc(210px * 10);
}

.container .card:nth-child(4) {background-color: greenyellow;}
.container .card:nth-child(7) {background-color: blueviolet;}
.container .card:nth-child(10) {background-color: green}

