<!-- RIGA DI CONTENUTO -->
<div class="container">
    <!-- INTESTAZIONE -->
    <header>
      <div class="header">
        <h2 class="name">titolo della riga</h2>
        <p class="description">descrizione del contenuto</p>
      </div>
      <div class="controls">
        <div class="control" style="margin-left: auto;" (click)="onSlideLeft()">
          <i class="fas fa-angle-left"></i>
        </div>
        <div class="control" (click)="onSlideRight()">
          <i class="fas fa-angle-right"></i>
        </div>
      </div>
    </header>
    <!-- VIEW DELLE CARDS -->
    <div class="cards-view" #cardsView>
      <div class="cards">

        <app-card  *ngFor="let number of numbers"></app-card>

      </div>
    </div>
  </div>