.profile {
  display: flex;
  align-content: center;
  margin-right: 30px;
}

.user-icon {
  height: 30px;
  width: auto;
  align-self: center;
  margin: 2px 4px;
  outline: inherit;
  border-radius: 50%;
}

.user {
  color: #fff;
  align-self: center;
  font-size: 13px;
  padding-left: 8px;
  padding-right: 25px;
  outline: inherit;
  cursor: default;
}

.user:hover {
  text-decoration: underline #fff;
}

button {
  background-color: transparent;
  border: none;
  outline: inherit;
  z-index: 2;
}

i {
  border: solid #fff;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 5px;
}

.chevron-down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}


