<div class="profile">
  <img routerLink="/account" [src]="avatar" class="user-icon" alt="">
  <p routerLink="/account" class="user">{{username}}</p>
  <button (click)="toggleDropdown()"><i class="chevron-down"></i></button>
</div>
<app-dropdown *ngIf="showDropdown"></app-dropdown>

