img{
    width: 50%;
    height: auto;
    margin: 25px 10px 20px 18px;
    cursor: pointer;    
}

p {
    margin-left: 20px;
    font-variant-caps: all-small-caps;
    font-size: 14px;
    font-weight: 1;
    margin-bottom: 10px;
}

ul{
    display: block;
    cursor: pointer;
}

li {
    list-style: none;
    margin-bottom: 15px;
}

li:hover{
    color: wheat;
}

div.top {
    margin-left: 18px;
    margin-bottom: 25px;
    font-weight: bold;
    height: 100px;
    /* font-size: 14px; */
   }

/*stile per tabella*/

table{
    max-width: 100%;
}

div.top td{
    padding-right: 15px;
    padding-bottom: 15px;
    font-size: 14px;
}

div.top tr:hover{
    color: wheat;
    cursor: pointer;
}

div.top td.icon{
    font-size: 20px;
    width: 1%;
    text-align: center;
}
/* stile per tabella END */


/*stile per elenco*/

/* div.top ul li i {
    margin-right: 15px;
    font-size: 25px;
}

div.top ul li{
    font-size: 14px;
} */

/*stile per elenco END*/

aside{
    overflow-y: scroll;
    scrollbar-color: gray black;
    height: 250px;
    margin-top: 25px;
}

aside ul li a {
    text-decoration: none;
    color:#C9BCBC
}

aside ul li a:hover {
    color: wheat;
}

div.bottom {
    margin-left: 20px;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 14px;
}

div.bottom ul li{
    font-size: 13px;
    margin-bottom: 15px;
    font-weight: 800;
}

div.bottom ul li a{
    display: block;
}

div.newPlay {
    padding-top: 20px;
    padding-left: 20px;
    /* display: block; */
    /* height: 10px; */
    vertical-align: middle;
}

div.newPlay:hover{
    color: wheat;
    cursor: pointer;
}

div.newPlay i {
    margin-right: 15px;
}

div.playlist{
    font-size: 14px;
    font-weight: 1;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-bottom: 20px;
}

span.separator {
    display: block;
    width: 100%;
    border-bottom: 1px solid #C9BCBC; 
}

::-webkit-scrollbar {
    width: 12px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background:#1A1919;
    /* border-radius: 10px;  */
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #808080; 
    border-radius: 10px; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }