<img src="/src/assets/spotify.png">

<div class="top">
    <!-- Menù top a tabella -->
    <table>
        <tbody>
        <tr>
        <td class="icon"><i class="fas fa-home"></i></td>
        <td 
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions] = "{exact:true}">
        <a [routerLink]="['/home']">Home</a>
      </td>
        </tr>
        <tr>
        <td class="icon"><i class="fas fa-archive"></i></td>
        <td>Naviga</td>
        </tr>
        <tr>
        <td class="icon"><i class="fas fa-broadcast-tower"></i></td>
        <td>Radio</td>
        </tr>
        </tbody>
        </table>

        <!-- Menù top a lista -->
        <!-- <ul>
          <li><i class="fas fa-home"></i>Home</li>
          <li><i class="fas fa-compact-disc"></i>Naviga</li>
          <li><i class="fas fa-podcast"></i>Radio</li>
        </ul>           -->
        
</div>

<aside>
  <p>La tua libreria</p>

  <div class="bottom">
    <ul>
      <li>Realizzata per te</li>

      <li>Ascoltati di recente</li>

      <li [routerLinkActive]="['active']"
          [routerLinkActiveOptions] = "{exact:true}">
          <a [routerLink]="['/fav']">Brani preferiti</a>
      </li>

      <li [routerLinkActive]="['active']" 
          [routerLinkActiveOptions] = "{exact:true}">
          <a [routerLink]="['/album']">Album</a>
      </li>
    </ul>
  </div>

  <p id="playl">Playlist</p>

  <div class="playlist" *ngFor = 'let playlist of playlists'>
    <ul>
      <li [routerLinkActive]="['active']" 
      [routerLinkActiveOptions] = "{exact:true}">
      <a [routerLink]="['/playlist',playlist.id]">{{playlist?.name}}</a>
      </li>
      <!-- <li>Pippo</li>
      <li>Paperino</li>
      <li>Pluto</li>
      <li>Gastone</li>
      <li>Paperoga</li>
      <li>Basettoni</li>
      <li>Paperina</li> -->
    </ul>
  </div>

</aside>

<span class="separator"></span>

<div class="newPlay">
  
  <i class="fas fa-plus-square"></i>Nuova playlist
     
</div>

