:host {
  margin: 4px 20px 0 10px;
}

button {
  background-color: transparent;
  border: none;
  outline: inherit;
  z-index: 2;
}

.chevron-left {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  border: solid #818181;
  border-width: 0 0 1px 1px;
  display: inline-block;
  padding: 5px;
}

.chevron-right {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  border: solid #818181;
  border-width: 1px 1px 0 0;
  display: inline-block;
  padding: 5px;
}

.pr-16 {
  padding-right: 16px;
}


