:host {
  position: relative;
  display: flex;
}

.dropdown-menu {
  position: absolute;
  width: 200px;
  background-color: #363636;
  border-radius: 10px;
  box-shadow: 0px 3px 10px 2px #0f0f0f;
  right: 18px;
  margin-top: 5px;
}

.dropdown-menu a {
  text-decoration: none;
  color: #999999;
  font-size: 13px;
  display: block;
  padding: 10px 16px 10px 30px;
}

.dropdown-menu a:hover {
  background: #4d4d4d;
  color: white;
}

.arrowmenu::after {
  content: "";
  position: absolute;
  top: -21%;
  right: 7px;
  border-width: 10px;
  border-style: solid;
  border-color: #363636 transparent transparent transparent;
  transform: rotate(180deg);
}

.mt-10 {
  margin-top: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}
