<div class="container">
  <div class="listHead">
    <ul>
      <li></li>
      <li></li>
      <li>Titolo</li>
      <li>Artista</li>
      <li>Album</li>
      <li><i class="far fa-calendar-check"></i></li>
      <li></li>
      <li><i class="far fa-clock"></i></li>
    </ul>
  </div>

  <div class="listLoop" *ngFor="let track of tracksList | search : searchProperty : searchText">
    <ul>
      <li><i class="far fa-play-circle"></i></li>
      <li><i [ngClass]="!track?.isFavourite && !isFavouriteSongs
         ? 'far fa-heart' : 'fas fa-heart'"></i></li>
      <li>{{track?.track?.name}}</li>
      <li>
        <p>{{track?.track?.artists[0]?.name}}</p>
      </li>
      <li>
        <p>{{track?.track?.album?.name}}</p>
      </li>
      <li>{{track?.added_at | date:'yyyy-MM-dd'}}</li>
      <li><i class="fas fa-ellipsis-h"></i></li>
      <li>{{track?.track?.duration_ms | date:'m:ss'}}</li>
    </ul>
  </div>
</div>