*{
    box-sizing: border-box;
}

.container{
    /* border-top: 0.0625rem solid white;  */
    margin: 0 1.5625rem;
}

ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: stretch;
}

li {
    list-style: none;
    cursor: default;
    width: calc(100%/8);
    align-items: stretch;
    font-size: 14px;
    /* margin-top: 0.3125rem; */
    /* border: 1px solid green; */
}

.listHead{
    color: gray;
    font-variant-caps: all-small-caps;
}

.listHead li{
   padding: 0.3125rem 0;
}

.listHead li:hover{
    color: white;
 }

.listLoop{
    color: white;
}

.listLoop ul:hover{
    background: rgb(29, 28, 28);
    
}

.listLoop ul{
    border-top: thin solid rgb(63, 63, 63);
    vertical-align: middle;
    padding: 5px 0;
}

.listLoop ul li p{
    overflow: hidden;
}

.listLoop p:hover{
    text-decoration: underline;
    cursor: pointer;
    display: inline;
}

/* play */
.listLoop li:first-child{
    width: 5%;
    text-align: center;
    font-size: 1.375rem;
    padding-top: 6px;
}

.listLoop li:first-child:hover{
    transform: scale(1.25);
}

/* cuore */
.listLoop li:nth-child(2){
    width: 5%;
    text-align: center;
    font-size: 1.125rem;
    padding-top: 8px;
}

/* titolo brano */
.listLoop li:nth-child(3){
    width: 31%;
    padding-top: 9px;
    padding-right: 5px;
    padding-bottom: 9px;
    font-weight: 500;
    overflow-y: hidden;
}

/* artista */
.listLoop li:nth-child(4){
    width: 20%;
    padding-top: 0.5625rem;
    font-weight: 500;
}

/* titolo album */
.listLoop li:nth-child(5){
    width: 18%;
    padding-top: 0.5625rem;
    font-weight: 500;
}

/* data aggiunta */
.listLoop li:nth-child(6){
    width: 11%;
    padding-top: 0.5625rem;
    color: gray;
    overflow-wrap: break-word;
    text-align: center;
}

/* puntini */
.listLoop li:nth-child(7){
    width: 4%;
    text-align: center;
    font-size: 1.375rem;
    padding-top: 0.4375rem;
}

/* durata brano */
.listLoop li:last-child{
    width: 6%;
    padding-top: 0.5625rem;
    padding-right: 10px;
    color: gray;
    overflow-wrap: break-word;
    text-align: right;
}

/* play */
.listHead li:first-child{
    width: 5%;
}

/* cuore */
.listHead li:nth-child(2){
    width: 5%;
}

/* titolo brano */
.listHead li:nth-child(3){
    width: 31%;
}

/* artista */
.listHead li:nth-child(4){
    width: 20%;
}

/* titolo album */
.listHead li:nth-child(5){
    width: 18%;
}

/* data aggiunta */
.listHead li:nth-child(6){
    width: 11%;
    padding-left: 25px;
}

/* puntini */
.listHead li:nth-child(7){
    width: 4%;
}

.listHead li:last-child{
    width: 6%;
    padding-left: 25px;
}

.listHead li:last-child:hover{
    color: gray;
}