 @font-face{font-family:glue1-spoticon;src:url(https://open.scdn.co/fonts/spoticon_regular_2.woff2) format("woff2"),url(https://open.scdn.co/fonts/spoticon_regular_2.woff) format("woff"),url(https://open.scdn.co/fonts/spoticon_regular_2.ttf) format("truetype");font-weight:400;font-style:normal}

* {
  padding: 0;
  margin: 0;
}
html, body {
  height: 100%;
  font-family:spotify-circular,spotify-circular-cyrillic,spotify-circular-arabic,spotify-circular-hebrew,Helvetica Neue,Helvetica,Arial,Hiragino Kaku Gothic Pro,Meiryo,MS Gothic,sans-serif;
}
.grid {
  display: grid;
  grid-template-columns: 200px auto;
  grid-template-rows: auto 100px;
  height: 100%
}

aside {
  background:#1A1919;
  color: #C9BCBC;
  /* overflow-y: scroll; */
}

main {
  background-image: linear-gradient(#232323,black);
  overflow-y: scroll;
  width: calc(100vw - 200px);
  /* padding-top: 40px; */
  /* margin-top: 43px; */
  
}



