<div class="title">
  <div class="image">
    <img [src]="getPlaylistImage(playlistDet?.images)">
  </div>
  <div class="details">
    <p id="small">Playlist</p>
    <p id="big">{{playlistDet?.name}}</p>
    <p id="desc">{{playlistDet?.description}}</p>
    <p id="data">Creata da
      <span id="name">{{playlistDet?.owner?.display_name}}</span>
      <span id="dot"> &bull;</span>
      <span id="details"> {{playlistDet?.tracks?.total}} brani totali, {{playlistDet?.tracks?.items?.length}} brani in preview, {{playlistDet?.tracks?.items[0]?.track?.duration_ms | date:'m'}} min.</span>
    </p>
    <button>
        <p id="play">PLAY</p>
    </button>
  </div>
    
</div>

<div>
  
</div>

<div class="filter">
  <app-page-search-bar [currentPage]="currentPage" [keySubject]="keySubject"></app-page-search-bar>
</div>

<app-track-list [searchText]="searchText" [searchProperty]="searchProperty" [tracksList]="playlistDet?.tracks?.items">
</app-track-list>

<!-- <div class="container">
  <div class="listHead">
    <ul>
      <li></li>
      <li></li>
      <li>Titolo</li>
      <li>Artista</li>
      <li>Album</li>
      <li><i class="far fa-calendar-check"></i></li>
      <li></li>
      <li><i class="far fa-clock"></i></li>
    </ul>
  </div>

  <div class="listLoop" *ngFor='let track of playlistDet?.tracks?.items'>
    <ul>
      <li><i class="far fa-play-circle"></i></li>
      <li><i class="far fa-heart"></i></li>
      <li>{{track?.track?.name}}</li>
      <li><p>{{track?.track?.artists[0]?.name}}</p></li>
      <li><p>{{track?.track?.album?.name}}</p></li>
      <li>{{track?.added_at | date:'yyyy-MM-dd'}}</li>
      <li><i class="fas fa-ellipsis-h"></i></li>
      <li>{{track?.track?.duration_ms | date:'m:ss'}}</li>
    </ul>
  </div> -->